on:
    pull_request:
    push:
        branches: [main]

jobs:
    test:
        name: Test
        runs-on: ubuntu-latest
        permissions:
            id-token: "write"
            contents: "read"
        steps:
            - uses: actions/checkout@v4
            - uses: DeterminateSystems/nix-installer-action@main
            - uses: DeterminateSystems/magic-nix-cache-action@main
            - uses: DeterminateSystems/flake-checker-action@main
            - name: Test
              run: nix develop --command test-all
